{%- liquid
  unless limit
    assign limit = main_menu.links.size
  endunless
  unless offset
    assign offset = 0
  endunless
-%}

<ul
  class="site-nav site-navigation small--hide"
>
  {%- for link in main_menu.links limit: limit offset: offset -%}
    {%- liquid
      assign mega_menu_block = nil
      assign link_handle = link.title | handleize
      for block in section.blocks
        if block.type == 'mega_menu'
          assign block_trigger = block.settings.menu_item | handleize
          if block_trigger == link_handle
            assign mega_menu_block = block
            break
          endif
        endif
      endfor

      assign has_dropdown = false
      assign is_megamenu = false
      if link.links != blank
        assign has_dropdown = true
        if mega_menu_block != nil
          assign is_megamenu = true
        endif
      endif

      if mega_menu_block != nil
        assign show_images = mega_menu_block.settings.show_images
        assign image_aspect_ratio = mega_menu_block.settings.image_aspect_ratio
        assign center_content = mega_menu_block.settings.center_content
      endif
    -%}

    <li class="site-nav__item site-nav__expanded-item{% if has_dropdown %} site-nav--has-dropdown{% endif %}{% if is_megamenu %} site-nav--is-megamenu{% endif %}">
      {% if is_megamenu or has_dropdown %}
        <details
          data-hover="{{ hover_menu }}"
          id="site-nav-item--{{ forloop.index }}"
          class="site-nav__details"
        >
          <summary
            data-link="{{ link.url }}"
            aria-expanded="false"
            aria-controls="site-nav-item--{{ forloop.index }}"
            class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}"
          >
            {{ link.title }} <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="m1.57 1.59 12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"/></svg>
          </summary>
      {% else %}
        <a
          href="{{ link.url }}"
          class="site-nav__link site-nav__link--underline{% if has_dropdown %} site-nav__link--has-dropdown{% endif %}"
        >
          {{ link.title }}
        </a>
      {% endif %}

        {%- if is_megamenu -%}
          {%- liquid
            assign any_column_has_image = false
            if show_images
              for childlink in link.links
                if childlink.url contains '/collections/'
                  if collections[childlink.object.handle].image != blank
                    assign any_column_has_image = true
                    break
                  endif
                endif
              endfor
            endif
          -%}

          <div class="site-nav__dropdown megamenu text-left">
            <div class="page-width">
              <div class="megamenu__inner{% if center_content %} megamenu__inner--center{% endif %}">

                {%- if mega_menu_block != nil -%}
                  {%- liquid
                    assign promo1_has_content = false
                    if mega_menu_block.settings.promo1_image
                      assign promo1_has_content = true
                    elsif mega_menu_block.settings.promo1_heading != blank
                      assign promo1_has_content = true
                    elsif mega_menu_block.settings.promo1_text != blank
                      assign promo1_has_content = true
                    endif
                    assign promo2_has_content = false
                    if mega_menu_block.settings.promo2_image
                      assign promo2_has_content = true
                    elsif mega_menu_block.settings.promo2_heading != blank
                      assign promo2_has_content = true
                    elsif mega_menu_block.settings.promo2_text != blank
                      assign promo2_has_content = true
                    endif
                    assign promo1_before = false
                    if promo1_has_content
                      if mega_menu_block.settings.promo1_position == 'before'
                        assign promo1_before = true
                      endif
                    endif
                    assign promo2_before = false
                    if promo2_has_content
                      if mega_menu_block.settings.promo2_position == 'before'
                        assign promo2_before = true
                      endif
                    endif
                    assign promo1_after = false
                    if promo1_has_content
                      if mega_menu_block.settings.promo1_position == 'after'
                        assign promo1_after = true
                      endif
                    endif
                    assign promo2_after = false
                    if promo2_has_content
                      if mega_menu_block.settings.promo2_position == 'after'
                        assign promo2_after = true
                      endif
                    endif
                  -%}
                  {%- if promo1_before or promo2_before -%}
                    <div class="megamenu__promos megamenu__promos--before appear-animation appear-delay-1">
                      {%- if promo1_before -%}
                        {%- render 'mega-menu-promo-tile', block: mega_menu_block, promo_num: '1' -%}
                      {%- endif -%}
                      {%- if promo2_before -%}
                        {%- render 'mega-menu-promo-tile', block: mega_menu_block, promo_num: '2' -%}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                {%- endif -%}

                <div class="megamenu__nav{% if center_content %} megamenu__nav--center{% endif %}">
                  {%- assign previous_column_type = '' -%}
                  {%- assign animation_column = 1 -%}
                  <div class="megamenu__column appear-animation appear-delay-{{ animation_column }}">
                    {%- assign animation_column = animation_column | plus: 1 -%}

                    {%- for childlink in link.links -%}
                      {%- liquid
                        assign create_new_column = false
                        if childlink.levels > 0 and forloop.index != 1
                          assign create_new_column = true
                        endif
                        if childlink.levels == 0 and previous_column_type == 'full'
                          assign create_new_column = true
                        endif
                      -%}

                      {%- if create_new_column -%}
                        </div><div class="megamenu__column appear-animation appear-delay-{{ animation_column }}">
                        {%- assign animation_column = animation_column | plus: 1 -%}
                      {%- endif -%}

                      {%- if show_images and childlink.url contains '/collections/' and collections[childlink.object.handle].image != blank -%}
                        <a href="{{ childlink.url }}" tabindex="-1" aria-hidden="true">
                          <div class="megamenu__column-image svg-mask svg-mask--{{ image_aspect_ratio }}">
                            {%- render 'image-element',
                              img: collections[childlink.object.handle].image,
                              sizeVariable: '20vw',
                              alt: collections[childlink.object.handle].title,
                              classes: 'megamenu__collection-image',
                              loading: 'eager',
                            -%}
                          </div>
                        </a>
                      {%- elsif any_column_has_image -%}
                        <div class="megamenu__column-image-placeholder svg-mask svg-mask--{{ image_aspect_ratio }}"></div>
                      {%- endif -%}

                      <div class="h5">
                        <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--top-level">{{ childlink.title }}</a>
                      </div>

                      {%- liquid
                        if childlink.levels > 0
                          assign previous_column_type = 'full'
                        else
                          assign previous_column_type = 'single'
                        endif
                      -%}

                      {%- for grandchildlink in childlink.links -%}
                        <div>
                          <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">
                            {{grandchildlink.title}}
                          </a>
                        </div>
                      {%- endfor -%}
                    {%- endfor -%}
                  </div>
                </div>

                {%- if mega_menu_block != nil -%}
                  {%- if promo1_after or promo2_after -%}
                    <div class="megamenu__promos megamenu__promos--after appear-animation appear-delay-1">
                      {%- if promo1_after -%}
                        {%- render 'mega-menu-promo-tile', block: mega_menu_block, promo_num: '1' -%}
                      {%- endif -%}
                      {%- if promo2_after -%}
                        {%- render 'mega-menu-promo-tile', block: mega_menu_block, promo_num: '2' -%}
                      {%- endif -%}
                    </div>
                  {%- endif -%}
                {%- endif -%}

              </div>
            </div>
          </div>
        {%- elsif has_dropdown -%}
          <ul class="site-nav__dropdown text-left">
            {%- for childlink in link.links -%}
              {%- liquid
                assign has_sub_dropdown = false
                if childlink.links != blank
                  assign has_sub_dropdown = true
                endif
              -%}

              <li class="{% if has_sub_dropdown %} site-nav__deep-dropdown-trigger{% endif %}">
                <a href="{{ childlink.url }}" class="site-nav__dropdown-link site-nav__dropdown-link--second-level{% if has_sub_dropdown %} site-nav__dropdown-link--has-children{% endif %}">
                  {{ childlink.title | escape }}
                  {%- if has_sub_dropdown -%}
                    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon--wide icon-chevron-down" viewBox="0 0 28 16"><path d="m1.57 1.59 12.76 12.77L27.1 1.59" stroke-width="2" stroke="#000" fill="none"/></svg>
                  {%- endif -%}
                </a>
                {%- if has_sub_dropdown -%}
                  <ul class="site-nav__deep-dropdown">
                    {%- for grandchildlink in childlink.links -%}
                      <li>
                        <a href="{{ grandchildlink.url }}" class="site-nav__dropdown-link">{{ grandchildlink.title | escape }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      {% if is_megamenu or has_dropdown %}
        </details>
      {% endif %}
    </li>
  {%- endfor -%}
</ul>
